
@media (min-width: 992px){

}



@media (max-width: 568px){
   
    
    /* updated/section */
    #updated h1 {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
    }

    #updated h6 {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    #updated {
        height:auto;
        padding-bottom: 20px;
        margin-top: 5em;
    }

    /* #updated h6 {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    } */

    /* footer/section */
    footer {
        font-family: Poppins;
        margin-bottom: 0;
    }

    footer img {
        height: 61px; 
        width: 155px;
    }

    .logog {
        width: 185px;
    }

    .email {
        margin-top: 2em;
    }

    .log {
        width: 225px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .quick p {
        line-height: 8px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: #1a1a1a;
    }

    .quick h5 {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #21428C;
        padding-bottom: 1em;
    }


}